@page "/"
@using BlazorDemo.APP.Pages.ContactComponents

<CustomTextbox @attributes="@MyTextBoxAttributes"></CustomTextbox>

<ContactList Contacts="_contacts">
    <NullContactsFragment>
        <br/>
        <span>Contents are loading</span>
        <br/>
    </NullContactsFragment>
    <ZeroListFragment>
        <br/>
        <span>No contact to show</span>
        <br/>
    </ZeroListFragment>
</ContactList>

