@page "/"

<h1> Hey there @UserName </h1>
<button onclick="@(() => {UserName = "Enoch";})">ChangeName</button>

@code
{
    private string UserName = "John M";
    private string GetUsername()
    {
        return UserName;
    }
    

    private int GetSum()
    {
        return 2+2;
    }

}