@page "/"
@using BlazorDemo.APP.Pages.ContactComponents

<CustomTextbox @attributes="@MyTextBoxAttributes"></CustomTextbox>

<br/>
<ContactList @ref="_contactList" Contacts="_contacts">
    <NullContactsFragment>
        <br/>
        <span>Contents are loading</span>
        <br/>
    </NullContactsFragment>
    <ZeroListFragment>
        <br/>
        <span>No contact to show</span>
        <br/>
    </ZeroListFragment>
</ContactList>
<br/>

<button @onclick="HideContacts">Show/Hide Contacts</button>

<br />


